@model Kurs
<p>
    <b>@Model.Baslik </b> `nu silmek istediğinize emin misiniz?
    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.KursId">   
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p> <!--tekrar bakk-->