<div class="p5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h1 class="dissplay-5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, adipisci? Ducimus at deserunt cum. Laudantium voluptas ab impedit eveniet temporibus accusantium adipisci excepturi?</p>
        <button class="btn btn-primary btn-lg">Button</button>
    </div>
</div>